.cardContainer {
  .left {
    position: relative;
    padding-bottom: 60%;
    width: 100%;
    overflow: hidden;
    .imgDark {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.151);
      transition: background-color 0.15s;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.15s;
      }
    }
    .imgClass {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .rightTitle {
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      a {
        color: black;
        &:hover {
          color: #ee4b4f;
        }
      }
    }
    .group {
      display: flex;
      padding: 16px 0;
      .userName {
        color: grey;
      }
      .createDate {
        margin-left: 26px;
        color: grey;
      }
    }
    .des {
      padding-bottom: 16px;
      color: grey;
    }
    .readmore {
      display: flex;
      color: grey;

      .like {
        margin-right: 20px;
        display: flex;
        .likeSym {
          margin-right: 5px;
          &:hover{
            cursor: pointer;
          }
        }
        
      }
      .comment {
        display: flex;
        .commentSym {
          margin-right: 5px;
          &:hover{
            cursor: pointer;
          }
        }
        
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .cardContainer {
    margin-bottom: 70px;
    width: 100%;
    .right {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      .rightTitle {
        margin-top: 16px;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        a {
          color: black;
          &:hover {
            color: #ee4b4f;
          }
        }
      }
      .group {
        padding: 8px 0;
      }
      .des {
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 16px;
        color: grey;
      }
    }
  }
}
