.nameBarContainer {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  .nameBarLeft {
    display: flex;
    align-items: center;
    font-size: 26px;
    .nameBarFirst {
      color: black;
      font-weight: bold;
    }
    .nameBarSecond {
      font-weight: bold;
      color: #ee4b4f;
    }
    .nameBarThird {
        margin-left: 8px;
      color: black;
    }
  }
  .nameBarRight {
    
    align-self: center;
    a{
      color: #ee4b4f;
      &:hover{
        color: #ff8385;
      }
  }
  }
}
