.mainPopContainer{
    .popHead{
        text-align: center;
        font-size: 24px;
    }
    .image505{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .popHeadsub{
        text-align: center;
        color: grey;
    }
    .menuItem{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}