.mainBogCotainer {
  .loadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .oneWrap {
    .slickUpper {
      width: 100%;
      height: 100%;
    }

    .fourthDetail {
      .containt {
        padding: 42px 0;
        .search {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 40px;
          border-bottom: 1px solid rgba(221, 221, 221, 0.521);
          .searchHead {
            font-size: 26px;
            .black {
              font-weight: bold;
            }
            .red {
              font-weight: bold;
              color: red;
              margin-right: 10px;
            }
          }
          .searchBox {
            .inputGreyRounded {
              font-size: 14px;
              line-height: 1.5;
              background: #f1f1f1b4;
              border: 1px solid #d5d9db;
              background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
              background-repeat: no-repeat;
              background-position: 12px 9px;
              background-size: 14px 14px;
              border-radius: 100px;
              width: 200px;
              padding: 0.3em 1em 0.3em 2.5em;
              &:focus {
                outline: none;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
              }
              &::placeholder{
                color: rgb(179, 179, 179);
              }
            }
          }
        }
        .MainCard {
          margin-bottom: 20px;
        }
        .endDivider{
          span{
            color: grey;
          }
        }
      }
    }
    .mainRightTopMob{
      display: none;
    }
    .mainRightTop {
      .containt {
        padding-top: 50px;
        .scrollContainer {
          max-height: 478px;
          -ms-overflow-style: none; /* for Internet Explorer, Edge */
          scrollbar-width: none; /* for Firefox */
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 2px; /* width of the entire scrollbar */
          }
          &::-webkit-scrollbar-track {
            background: rgb(192, 192, 192); /* color of the tracking area */
          }
          &::-webkit-scrollbar-thumb {
            background-color: black; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 10px solid black; /* creates padding around scroll thumb */
          }
        }
        // .scrollContainer::-webkit-scrollbar {
        //   display: none; /* for Chrome, Safari, and Opera */
        // }
      }
    }
  }
}
.btnLoadMore {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .mainBogCotainer {
    .oneWrap {
      .fourthDetail {
        .containt {
          padding: 42px 0;
          .search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(221, 221, 221, 0.521);
            
            .searchBox {
              .inputGreyRounded {
                font-size: 14px;
                line-height: 1.5;
                background: #f1f1f1b4;
                border: 1px solid #d5d9db;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
                background-repeat: no-repeat;
                background-position: 10px 8px;
                background-size: 14px 14px;
                border-radius: 100px;
                width: 130px;
                padding: 0.3em 1em 0.3em 2.5em;
                &:focus {
                  outline: none;
                  background-color: #fff;
                  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }
                &::placeholder{
                  color: rgb(179, 179, 179);
                }
              }
            }
          }
          .MainCard {
            margin-bottom: 20px;
          }
          .endDivider{
            span{
              color: grey;
            }
          }
        }
      }
      .mainRightTop {
        display: none; 
      }
      .mainRightTopMob{
        display: block;
        .containt {
          padding-top: 50px;
          .scrollContainer {
            height: 150px;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 2px; /* width of the entire scrollbar */
            }
            &::-webkit-scrollbar-track {
              background: rgb(192, 192, 192); /* color of the tracking area */
            }
            &::-webkit-scrollbar-thumb {
              background-color: black; /* color of the scroll thumb */
              border-radius: 20px; /* roundness of the scroll thumb */
              border: 10px solid black; /* creates padding around scroll thumb */
            }
          }
          // .scrollContainer::-webkit-scrollbar {
          //   display: none; /* for Chrome, Safari, and Opera */
          // }
        }
      }
      
    }
  }
  .btnLoadMore {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
