.mainBlogDetailContainer {
  .loadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .userDetail {
    padding: 40px 0;

    padding-bottom: 26px;
    .userDetailCol {
      display: flex;
      .profile {
        img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }
      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px;
        .userName {
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          color: rgb(66, 66, 66);
          margin-bottom: 5px;
        }
        .create {
          display: flex;
          color: rgb(88, 88, 88);

          .dot {
            display: flex;
            align-items: center;
            font-size: 8px;
            margin: 0 8px;
          }
        }
      }
    }
    .userSocial {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .social {
        display: flex;
        .icon {
          margin: 0 5px;
          background: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .blogDetails {
    .blogHead {
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 20px;
      font-weight: bolder;
    }
    .blogSubDes {
      font-size: 22px;
      line-height: 28px;
      color: #6e6e6f;
    }
    .blogImg {
      position: relative;
      padding-bottom: 50%;
      width: 100%;
      overflow: hidden;
      margin: 30px 0;
      .imgClass {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .blogFullDes {
      .blogFullDesBox {
        font-family: "charter", Georgia, "Times New Roman", Times, serif;
        margin: 10px 0;
        font-size: 20px;
        line-height: 32px;
        color: #3d3e3e;
        .blogFullDesBoxFisrt:first-child:first-letter {
          font-size: 30pt;
          padding: 0 6px 0 0;
          float: left;
          color: #ee4b4ec0;
        }
      }
    }
    .likeComment {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .readmore {
        display: flex;
        color: grey;

        .like {
          margin-right: 36px;
          display: flex;
          font-size: 16px;
          .likeSym {
            margin-right: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .comment {
          display: flex;
          font-size: 16px;
          .commentSym {
            margin-right: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .mainRightMid {
    padding: 40px 0;

    .containt {
      padding: 40px 0;
      .scrollContainer {
        max-height: 380px;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px; /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
          background: rgb(192, 192, 192); /* color of the tracking area */
        }
        &::-webkit-scrollbar-thumb {
          background-color: black; /* color of the scroll thumb */
          border-radius: 20px; /* roundness of the scroll thumb */
          border: 10px solid black; /* creates padding around scroll thumb */
        }
      }
      // .scrollContainer::-webkit-scrollbar {
      //   display: none; /* for Chrome, Safari, and Opera */
      // }
    }
  }
}
.commentListMain{
  display: flex;
  width: 100%;
  justify-content: space-between;
  .commentDelete{
    span{
      font-size: 14px;
      color: rgb(255, 116, 116) !important;
      &:hover{
        color: rgb(255, 21, 21) !important;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .userSocial{
    display: none !important;
  }
}