.container {
  .loadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .oneWrap {
    .firstContainer {
      .firstLeft {
        height: 90vh;
      }
    }

    

    .secondContainer {
      padding: 60px 0;
      .secondDetail {
        padding: 60px 0;
        .containt {
          padding-top: 50px;
          .containtTop {
          }
          .containtBot {
            padding-top: 26px;
          }
        }
      }
      .thirdDetail {
        .containt {
          padding-top: 50px;
        }
      }
      .fourthDetail {
        .containt {
          padding: 50px 0;
          .MainCard {
            margin-bottom: 20px;
          }
        }
      }
      .mainRightTop {
        .containt {
          padding-top: 50px;
          .scrollContainer {
            max-height: 478px;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
          }
          .scrollContainer::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
          }
        }
      }
      .mainRightMid {
        .containt {
          padding: 50px 0;
          .scrollContainer {
            max-height: 290px;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            // scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 2px; /* width of the entire scrollbar */
            }
            &::-webkit-scrollbar-track {
              background: rgb(192, 192, 192); /* color of the tracking area */
            }
            &::-webkit-scrollbar-thumb {
              background-color: black; /* color of the scroll thumb */
              border-radius: 20px; /* roundness of the scroll thumb */
              border: 10px solid black; /* creates padding around scroll thumb */
            }
          }
          // .scrollContainer::-webkit-scrollbar {
          //   display: none; /* for Chrome, Safari, and Opera */
          // }
        }
      }
      .mainRightBot {
        .containt {
          padding: 50px 0;

          .scrollContainer {
            max-height: 150px;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 2px; /* width of the entire scrollbar */
            }
            &::-webkit-scrollbar-track {
              background: rgb(192, 192, 192); /* color of the tracking area */
            }
            &::-webkit-scrollbar-thumb {
              background-color: black; /* color of the scroll thumb */
              border-radius: 20px; /* roundness of the scroll thumb */
              border: 10px solid black; /* creates padding around scroll thumb */
            }
          }
          // .scrollContainer::-webkit-scrollbar {
          //   display: none; /* for Chrome, Safari, and Opera */
          // }
          .cateList {
            padding: 10px;
            margin-right: 10px;
            background-color: rgb(224, 224, 224);
            border-radius: 5px;
            margin-bottom: 10px;
            &:hover {
              color: #ee4b4ec0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .container {
    .oneWrap {
      .firstContainer {
        .firstLeft {
          height: 36vh;
        }
        .firstRightUp {
          display: none;
        }
      }
      .secondContainer {
        padding: 0px 0;
        .secondDetail {
          .containt {
            padding-top: 50px;
            .containtTop {
            }
            .containtBot {
              // padding-top: 70px;
            }
          }
        }
        .thirdDetail {
          padding: 60px 0;
          .containt {
            padding-top: 50px;
          }
        }
        .fourthDetail {
          .containt {
            padding: 50px 0;
            .MainCard {
              margin-bottom: 20px;
            }
          }
        }
        .mainRightTop {
          .containt {
            padding-top: 50px;
            padding-bottom: 10px;
          }
        }
        .mainRightMid {
          .containt {
            padding: 50px 0;
          }
        }
        .mainRightBot {
          .containt {
            padding: 50px 0;
            .cateList {
              padding: 10px;
              background-color: rgb(224, 224, 224);
              border-radius: 5px;
              margin-bottom: 10px;
              font-size: 16px;

              &:hover {
                color: #ee4b4ec0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
