.mainMyBlogContainer {
  .loadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .head {
    margin: 30px 0;
    .headMain {
      text-align: center;
      font-size: 26px;
      word-spacing: 10px;
      letter-spacing: 5px;
    }
    .headSub {
      text-align: center;
      font-size: 16px;
      word-spacing: 6px;
      letter-spacing: 3px;
    }
    .searchBox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      .inputGreyRounded {
        font-size: 14px;
        line-height: 1.2;
        background: #f1f1f1b4;
        border: 1px solid #d5d9db;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
        background-repeat: no-repeat;
        background-position: 12px 6px;
        background-size: 12px 12px;
        border-radius: 100px;
        width: 180px;
        padding: 0.3em 1em 0.3em 2.5em;
        &:focus {
          outline: none;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
        &::placeholder {
          color: rgb(179, 179, 179);
        }
      }
    }
  }
  .emptyBox {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
