.navWrapper {
  .hamBurgerContainer {
    display: none;
  }
  .mainNavBar {
    background-color: white;
    position: relative;
    z-index: 999;
    .navBar {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      font-size: 16px;
      line-height: 16px;
      .logo {
        a {
          color: black;
          display: flex;
          img {
          }
          .name {
            font-size: 34px;
            font-weight: bold;
            line-height: 32px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .menu {
        display: flex;
        align-items: center;
        .menuItem {
          margin: 0 8px;
          a{
            .ant-btn-dangerous.ant-btn-primary{
                color: white;
            }
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .menuBtn {
          display: flex;
          align-items: center;
          .menuItem {
            margin: 0 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #menuToggle {
    display: block;
    position: relative;
    top: 23px;
    left: 0px;
    padding-left: 20px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #dfdfdf;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 110vw;
    height: 120vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #f5f5f5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    color: white;
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .navWrapper {
    .mainNavBar {
      display: none;
    }
    .hamBurgerContainer {
      display: block;
      .hamBurgerContainerBox {
        display: flex;
        position: relative;
        background-color: #ffffff;
        height: 70px;
        .hamBurgerContainerLeft {
          width: 100%;

          nav {
            #menuToggle {
              #menu {
                .navMenuMob {
                  .menuItem {
                    margin: 10px 0px;
                  }
                  .menuBtn {
                    display: flex;
                    align-items: center;
                    .menuItem {
                      margin: 8px 0px;
                      a{
                          button{
                              margin-left: 20px;
                              color: white;
                              background-color: #ee4b4f;
                              border: none;
                              border-radius: 20px;
                              font-size: 18px;
                              padding: 3px 10px;
                          }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .hamBurgerContainerRight {
          img {
            height: 26px;
            width: 26px;
            margin-top: 5px;
          }
          position: absolute;
          left: 60%;
          top: 24%;
          z-index: 101;
          display: flex;
          .nameLeter {
            margin-left: 2px;
            font-size: 36px;
            line-height: 36px;
            font-weight: bolder;
          }
        }
      }

      .navMenuMob {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        .activeLink {
          margin: 16px 0;
          .navBtn {
            display: flex;
            justify-content: start;

            button {
              color: white;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
