
$color: white;
.mainSignIn {
  background-image: url("/Assets/signInBg.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  min-height: 90vh;
  animation: slideleft 10000s infinite linear;

  
  .mainLayer {
    background-color: rgba(0, 0, 0, 0.705);
    min-height: 90vh;
    
  
    .mainRow {
      color: $color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;  
      height: 100%;
      .colMainRow {
        .signInLab {
          .labTxt {
            font-size: 24px;
            line-height: 26px;
            text-align: center;
          }
        }
        .colMainForm {
          margin: 20px 0;
          padding: 30px 60px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          .colMainFormLogo {
            display: flex;
            justify-content: center;
            img {
              height: 50px;
            }
          }
          .form {
              margin: 30px 0 20px 0;
              position: relative;
              .errMes{
                position: absolute;
                z-index: 9;
                bottom: -24px;
                left: 1%;
                text-align: center;
                width: 100%;
                color: tomato;
              }
          }
          .newReg{
              display: flex;
              justify-content: space-between;
              font-size: 14px;
            //   font-weight: bold;
              a{
                  color: $color;
                  &:hover{
                    color: #4a91ff
                  }
              }
          }
          .social{
              display: flex;
              justify-content: center;
              .socialBtn{
                  margin: 0 10px;
              }
          }
        }
        .colMainFoot {
          .colMainFootTxt {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}
@media screen and (max-width: 576px) {
  .mainSignIn {
    .mainLayer {
      display: flex;
    }
  }
}

